 /*==========  Mobile First Method  ==========*/
/* XXS Devices, Phones */
@media only screen and (min-width : 200px) {
    .parallax-container{
        height: 800px;
    }

}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .parallax-container{
        height: 700px;
    }



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .banner-text{
         font-size: 13em;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}


body{
    font-family: CaviarDreams;
}

section{
    margin: -10px 0px 0px 0px;
    padding: 20px 10px 60px 10px;
}

img {
    image-orientation: from-image;
}

h2 {
  font-size: 3.2rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

.p1{
  font-size: 1.2rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

.p2{
  font-size: 1.4rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

.p3{
  font-size: 1.6rem;
  line-height: 110%;
  margin: 0.8rem 0 0.6rem 0;
}

.navigation-bar{
    position: fixed;
    z-index: 1000;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in 0.3s;
    transition: box-shadow 0.1s ease-in 0.1s;
    font-weight: 900;
}


.banner-text{
    font-family: Dense;
    background: white;
    border-radius: 50%;
}

.circle-image{
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.3), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.section-header{
    margin: 50px 0px 50px 0px;
}

.section-title{
    font-weight: 900;
}

.active{
    background-color:rgb(0, 0, 0, 0.1);
}

.opaque{
    background-color: transparent;
    box-shadow: 0px 0px 0px black;  
    transition: background-color 0.3s ease-in 0.3s;
}
.margin-0{
    margin: 0px !important;
}

.padding-10{
    padding: 10px !important;
}

.padding-20{
    padding: 20px !important;
}

#banner-logo{
    min-width: 200px;
    min-height: 200px
}

.modal {
    max-width: 100%;
    max-height: 100%;
}

.icon{
    max-width: 180px !important;
    max-height: 180px !important;
}

.showcase-image{
    padding: 10px 10px 10px 10px;
}

.title-bar-button{
    height: 15px;
    width: 15px;  
    top:-5px;  
}

.template-title{
    top:-20px; 
}

.template-card .card-content{
    max-height: 25px !important;
    height: 25px !important;
    padding: 5px !important;
    border-radius: 5px 5px 0px 0px !important;
}



.card-image img{
    border-radius: 0px 0px 0px 0px !important;
}

.footer-copyright{
    padding: 10px;
}


@font-face{
    font-family: CaviarDreams;
    src: url("../fonts/CaviarDreams/CaviarDreams.ttf")
}

@font-face{
    font-family: Dense;
    src: url("../fonts/dense/Dense-Regular.otf")
}

@font-face{
    font-family: Roboto-Regular;
    src: url("../fonts/roboto/Roboto-Regular.ttf")
}